[submodule "bap-types"]
	path = bap-types
	url = ../bap-types
[submodule "llvm-mc"]
	path = llvm-mc
	url = ../llvm-mc
[submodule "bap-traces"]
	path = bap-traces
	url = ../bap-traces/
[submodule "traces"]
	path = traces
	url = ../traces
